<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <!-- ======================== -->
    <!-- SECURITY FILTERS         -->
    <!-- ======================== -->
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>com.rms.filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/Dynamic/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>com.rms.filter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>

    <!-- ======================== -->
    <!-- USER CONTROLLERS         -->
    <!-- ======================== -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.rms.controller.user.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>com.rms.controller.user.SignupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VerifyOtpServlet</servlet-name>
        <servlet-class>com.rms.controller.user.VerifyOtpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyOtpServlet</servlet-name>
        <url-pattern>/VerifyOtpVerification</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.rms.controller.user.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>com.rms.controller.user.EditProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProfilePicServlet</servlet-name>
        <servlet-class>com.rms.controller.user.ProfilePicServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProfilePicServlet</servlet-name>
        <url-pattern>/ProfilePic</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>com.rms.controller.user.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VerifyResetOtpServlet</servlet-name>
        <servlet-class>com.rms.controller.user.VerifyResetOtpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerifyResetOtpServlet</servlet-name>
        <url-pattern>/OTPVerify</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>com.rms.controller.user.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPassword</url-pattern>
    </servlet-mapping>

    <!-- ======================== -->
    <!-- MENU & CART CONTROLLERS  -->
    <!-- ======================== -->
    <servlet>
        <servlet-name>MenuServlet</servlet-name>
        <servlet-class>com.rms.controller.menu.MenuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MenuServlet</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>com.rms.controller.menu.AddToCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CartActionServlet</servlet-name>
        <servlet-class>com.rms.controller.menu.CartActionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartActionServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>com.rms.controller.menu.CheckoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PaymentServlet</servlet-name>
        <servlet-class>com.rms.controller.menu.PaymentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentServlet</servlet-name>
        <url-pattern>/PaymentServlet</url-pattern>
    </servlet-mapping>

    <!-- ======================== -->
    <!-- BOOKING CONTROLLER       -->
    <!-- ======================== -->
    <servlet>
        <servlet-name>BookingServlet</servlet-name>
        <servlet-class>com.rms.controller.booking.BookingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookingServlet</servlet-name>
        <url-pattern>/TableBooking</url-pattern>
    </servlet-mapping>

    <!-- ======================== -->
    <!-- FEEDBACK CONTROLLERS     -->
    <!-- ======================== -->
    <servlet>
        <servlet-name>FeedbackServlet</servlet-name>
        <servlet-class>com.rms.controller.feedback.FeedbackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FeedbackServlet</servlet-name>
        <url-pattern>/Feedback</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ComplainServlet</servlet-name>
        <servlet-class>com.rms.controller.feedback.ComplainServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ComplainServlet</servlet-name>
        <url-pattern>/Complain</url-pattern>
    </servlet-mapping>

    <!-- ======================== -->
    <!-- ADMIN CONTROLLERS        -->
    <!-- ======================== -->
    <servlet>
        <servlet-name>ManageUsersServlet</servlet-name>
        <servlet-class>com.rms.controller.admin.ManageUsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageUsersServlet</servlet-name>
        <url-pattern>/admin/users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManageFoodsServlet</servlet-name>
        <servlet-class>com.rms.controller.admin.ManageFoodsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageFoodsServlet</servlet-name>
        <url-pattern>/admin/foods</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManageBookingsServlet</servlet-name>
        <servlet-class>com.rms.controller.admin.ManageBookingsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageBookingsServlet</servlet-name>
        <url-pattern>/admin/bookings</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ManageOrdersServlet</servlet-name>
        <servlet-class>com.rms.controller.admin.ManageOrdersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageOrdersServlet</servlet-name>
        <url-pattern>/admin/orders</url-pattern>
    </servlet-mapping>

    <!-- ======================== -->
    <!-- SESSION CONFIG           -->
    <!-- ======================== -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <!-- ======================== -->
    <!-- WELCOME FILE             -->
    <!-- ======================== -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
